<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin.FAQMapper">
    <!--FAQ 전체 게시글 수 조회-->
    <select id="cntAllFAQ" parameterType="hashmap" resultType="int">
        select count(*)
        from FAQ
        where category_idx = 2
        <if test='sch != null'> and (title like CONCAT('%',#{sch},'%') or content like CONCAT('%',#{sch},'%')) </if>
        order by number_idx desc
        /*limit ${perPage} offset ${offset}*/
    </select>

    <!--FAQ 전체 게시글 가져오기-->
    <select id="selectAllFAQ" parameterType="hashmap" resultType="FAQDTO">
        select f.number_idx,
        f.m_idx,
        f.title,
        f.content,
        f.readcnt,
        date_format(f.writeday, '%Y-%m-%d') writeday,
        m.userid
        from FAQ f
        left outer join MEMBER m on f.m_idx = m.m_idx
        where f.category_idx = 2
        <if test='sch != null'> and (f.title like CONCAT('%',#{sch},'%') or f.content like CONCAT('%',#{sch},'%')) </if>
        order by f.number_idx desc
        /*limit ${perPage} offset ${offset}*/
    </select>

    <!--FAQ 특정 게시글 가져오기-->
    <select id="selectOneFAQ" parameterType="int" resultType="FAQDTO">
        select f.number_idx,
        f.m_idx,
        f.title,
        f.content,
        f.readcnt,
        date_format(f.writeday, '%Y-%m-%d') writeday,
        m.userid
        from FAQ f
        left outer join MEMBER m on f.m_idx = m.m_idx
        where f.number_idx = #{idx}
    </select>

    <!--FAQ 특정 게시글 삭제하기-->
    <delete id="deleteOneFAQ" parameterType="int">
        delete from FAQ
        where number_idx = #{idx};
    </delete>

    <!--FAQ 특정 게시글 수정하기-->
    <update id="updateOneFAQ" parameterType="FAQDTO">
        update FAQ
        set title   = #{title},
            content = #{content},
            m_idx   = #{m_idx}
        where number_idx = #{number_idx}
    </update>

    <!--FAQ 특정 게시글 등록하기-->
    <insert id="insertOneFAQ" parameterType="FAQDTO">
        insert into FAQ (title, content, m_idx, category_idx)
            value (#{title}, #{content}, #{m_idx}, #{category_idx});
    </insert>
</mapper>
