<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin.MemberMapper">
    <!--USER 전체 사용자 수 조회-->
    <select id="cntAllUser" parameterType="hashmap" resultType="int">
        select count(*)
        from MEMBER
        where authorities = 'USER'
        <if test='sch != null'> and (userid like CONCAT('%',#{sch},'%') or username like CONCAT('%',#{sch},'%')) </if>
        order by m_idx desc
        <!--limit #{perPage} offset #{offSet}-->
    </select>

    <!--USER 전체 사용자 가져오기-->
    <select id="selectAllUser" parameterType="hashmap" resultType="MemberDTO">
        select m_idx,
               userid,
               username,
               email1,
               email2,
               date_format(joindate, '%Y-%m-%d') joindate,
               kakao_idx,
               naver_idx,
               google_idx
        from MEMBER
        where authorities = 'USER'
        <if test='sch != null'> and (userid like CONCAT('%',#{sch},'%') or username like CONCAT('%',#{sch},'%')) </if>
        order by m_idx desc
        <!--limit #{perPage} offset #{offSet}-->
    </select>

    <!--ADMIN 전체 사용자 수 조회-->
    <select id="cntAllAdmin" parameterType="hashmap" resultType="int">
        select count(*)
        from MEMBER
        where authorities = 'ADMIN'
        <if test='sch != null'> and (userid like CONCAT('%',#{sch},'%') or username like CONCAT('%',#{sch},'%')) </if>
        order by m_idx desc
        <!--limit #{perPage} offset #{offSet}-->
    </select>

    <!--ADMIN 전체 사용자 가져오기-->
    <select id="selectAllAdmin" parameterType="hashmap" resultType="MemberDTO">
        select m_idx,
        userid,
        username,
        email1,
        email2,
        date_format(joindate, '%Y-%m-%d') joindate
        from MEMBER
        where authorities = 'ADMIN'
        <if test='sch != null'> and (userid like CONCAT('%',#{sch},'%') or username like CONCAT('%',#{sch},'%')) </if>
        order by m_idx desc
        <!--limit #{perPage} offset #{offSet}-->
    </select>

    <!--USER 특정 사용자 정보 가져오기-->
    <select id="selectOneUser" parameterType="int" resultType="MemberDTO">
        select m_idx, kakao_idx, naver_idx, google_idx,
               username,
               userid,
               passwd,
               email1, email2,
               uploadfilename, storefilename,
               DATE_FORMAT(joindate, '%Y-%m-%d') joindate,
               authorities
        from MEMBER
        WHERE m_idx=#{idx}
    </select>

    <!--ADMIN 특정 관리자 정보 가져오기-->
    <select id="selectOneAdmin" parameterType="int" resultType="MemberDTO">
        select m_idx,
               username,
               userid,
               passwd,
               email1, email2,
               DATE_FORMAT(joindate, '%Y-%m-%d') joindate,
               authorities
        from MEMBER
        WHERE m_idx=#{idx}
    </select>

    <!--USER/ADMIN 특정 사용자/관리자 삭제하기-->
    <delete id="deleteOneMember" parameterType="int">
        delete from MEMBER
        where m_idx = #{idx};
    </delete>
</mapper>
