<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.config.FAQMapper">

    <select id="selectAllPage" resultType="FAQDTO" parameterType="HashMap">
	<![CDATA[
        select
            number_idx,
            category_idx,
            m_idx,
            title,
            content,
            date_format(writeday, '%Y-%m-%d') writeday,
            readcnt
        from FAQ
        order by number_idx desc
            limit ${perPage} offset ${offset}
        ]]>
	</select>


    <insert id="insert" parameterType="FAQDTO">
        insert into FAQ (f.number_idx, f.m_idx, f.title, f.content,
                         f.readcnt, c.category_name)
        from FAQ f join CATEGORY c
            on f.category_idx = c.category_idx
        value (#{f.m_idx}, #{f.title}, #{f.content}, #{c.category_name})
    </insert>

    <select id="retrieve" parameterType="int" resultType="FAQDTO">
        <![CDATA[
        select
            number_idx,
            category_idx,
            m_idx,
            title,
            content,
            to_char(writeday, 'YYYY/MM/DD') writeday,
            readcnt
        from FAQ
        where number_idx = #{number_idx}
        ]]>
    </select>


    <update id="readcnt" parameterType="int">
        update FAQ
        set readcnt = readcnt + 1
        where num = #{num}

    </update>


    <select id="totalRecord" resultType="int">
        select count(*)
        from FAQ
    </select>


</mapper>