<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.config.FAQMapper">

    <select id="selectAllPage" resultType="FAQDTO" parameterType="HashMap">
	<![CDATA[
        select
            f.number_idx,
            m.userid,
            f.title,
            f.content,
            date_format(f.writeday, '%Y-%m-%d')  writeday,
            f.readcnt,
            c.category_name
        from FAQ f join CATEGORY c on f.category_idx = c.CATEGORY_IDX
                   join MEMBER m on f.m_idx = m.m_idx
        order by f.number_idx asc
            limit ${perPage} offset ${offset}
        ]]>
	</select>

<!--    select f.number_idx, m.userid, f.title, f.content, f.WRITEDAY, f.READCNT, c.category_name-->
<!--    from FAQ f join CATEGORY c-->
<!--    on f.category_idx = c.CATEGORY_IDX-->
<!--    join MEMBER m-->
<!--    on f.m_idx = m.m_idx-->


    <!--    https://stage-diary.tistory.com/594 -->
    <insert id="insert" parameterType="FAQDTO">
        insert into FAQ (title, content, category_id)
            value (#{title}, #{content}, #{category_id});
    </insert>

    <resultMap id="aaa" type="hashmap">
        <result property="category_idx" column="category_idx"/>
        <result property="category_name" column="category_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
    </resultMap>
    <select id="category" resultMap="aaa" >
        select  category_idx, category_name
        from CATEGORY
    </select>


    <select id="retrieve" parameterType="int" resultType="FAQDTO">
        <![CDATA[
        select
            number_idx,
            category_idx,
            m_idx,
            title,
            content,
            to_char(writeday, 'YYYY/MM/DD') writeday,
            readcnt
        from FAQ
        where number_idx = #{number_idx}
        ]]>
    </select>


    <update id="readcnt" parameterType="int">
        update FAQ
        set readcnt = readcnt + 1
        where num = #{num}

    </update>


    <select id="totalRecord" resultType="int">
        select count(*)
        from FAQ
    </select>


</mapper>