<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.config.FAQMapper">

    <select id="selectAllPage" resultType="FAQDTO" parameterType="HashMap">
	<![CDATA[
        select f.number_idx,
               m.userid,
               m.username,
               f.title,
               f.content,
               date_format(f.writeday, '%Y-%m-%d') writeday,
               f.readcnt,
               c.category_name
        from FAQ f
                 join CATEGORY c on f.category_idx = c.CATEGORY_IDX
                 join MEMBER m on f.m_idx = m.m_idx
        where f.category_idx = #{category_idx}
        order by f.number_idx desc
            limit ${perPage} offset ${offset}
        ]]>
	</select>

    <select id="selectNoticePage" resultType="FAQDTO" parameterType="HashMap">
	<![CDATA[
        select f.number_idx,
               m.userid,
               m.username,
               f.title,
               f.content,
               date_format(f.writeday, '%Y-%m-%d') writeday,
               f.readcnt,
               c.category_name
        from FAQ f
                 join CATEGORY c on f.category_idx = c.CATEGORY_IDX
                 join MEMBER m on f.m_idx = m.m_idx
        where f.category_idx = 1
        order by f.number_idx desc
            limit ${perPage} offset ${offset}
        ]]>
	</select>

    <!-- FAQ 전체 조회(페이징) -->
    <select id="selectFAQRecordPaging" resultType="FAQDTO" parameterType="HashMap">
	<![CDATA[
        select f.number_idx,
               m.userid,
               m.username,
               f.title,
               f.content,
               f.readcnt,
               date_format(f.writeday, '%Y-%m-%d') writeday,
               c.category_name
               m.m_idx
        from FAQ f
                 join CATEGORY c on f.category_idx = c.CATEGORY_IDX
                 join MEMBER m on f.m_idx = m.m_idx
        where f.category_idx = 2
        order by f.number_idx desc
            limit ${perPage} offset ${offset}
        ]]>
	</select>

    <!-- 검색 조건에 맞는 FAQ 부분 조회(페이징) -->
    <select id="selectFAQSearchRecordPaging" resultType="FAQDTO" parameterType="HashMap">
	<![CDATA[
        select f.number_idx,
               m.userid,
               m.username,
               f.title,
               f.content,
               f.readcnt,
               date_format(f.writeday, '%Y-%m-%d') writeday,
               c.category_name
               m.m_idx
        from FAQ f
                 join CATEGORY c on f.category_idx = c.CATEGORY_IDX
                 join MEMBER m on f.m_idx = m.m_idx
        where f.category_idx = 2 and (f.title like CONCAT('%',#{searchKey},'%') or f.content like CONCAT('%',#{searchKey},'%'))
        order by f.number_idx desc
            limit ${perPage} offset ${offset}
        ]]>
	</select>

    <resultMap id="category" type="hashmap">
        <result property="category_idx" column="category_idx"/>
        <result property="category_name" column="category_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
    </resultMap>

    <select id="categoryBoardNotice" resultMap="category">
        select category_idx, category_name
        from CATEGORY
        where  category_idx = 1
    </select>

    <select id="categoryBoardFaq" resultMap="category">
        select category_idx, category_name
        from CATEGORY
        where  category_idx = 2
    </select>

    <!--    https://stage-diary.tistory.com/594 -->
    <insert id="writeUserNotice" parameterType="FAQDTO">
        insert into FAQ (title, content,m_idx ,category_idx)
            value (#{title}, #{content}, #{m_idx}, #{category_idx});
    </insert>

    <insert id="writeUserFaq" parameterType="FAQDTO">
        insert into FAQ (title, content,m_idx ,category_idx)
            value (#{title}, #{content}, #{m_idx}, #{category_idx});
    </insert>



    <select id="retrieve" parameterType="int" resultType="FAQDTO">
        <![CDATA[
        select f.number_idx,
               m.userid,
               f.title,
               f.content,
               date_format(f.writeday, '%Y-%m-%d') writeday,
               f.readcnt,
               c.category_name
        from FAQ f
                 join CATEGORY c on f.category_idx = c.CATEGORY_IDX
                 join MEMBER m on f.m_idx = m.m_idx
        where f.number_idx = #{number_idx}
        ]]>

    </select>

    <update id="updateUserBoard" parameterType="FAQDTO">
        update FAQ
        set title = #{title},content = #{content},category_idx = #{category_idx}
        where number_idx = #{number_idx}
    </update>




    <delete id="deleteUserBoard" parameterType="int">
        delete from FAQ
        where number_idx = #{number_idx}
    </delete>


    <update id="readcnt" parameterType="int">
        update FAQ
        set readcnt = readcnt + 1
        where number_idx = #{number_idx}
    </update>

    <select id="totalRecordAll" resultType="int">
        select count(*)
        from FAQ
        where CATEGORY_IDX = #{category_idx}
    </select>

    <select id="totalRecordNotice" resultType="int">
        select count(*)
        from FAQ
        where CATEGORY_IDX = 1
    </select>

    <select id="findTotalFAQRecordCount" resultType="int">
        select count(*)
        from FAQ
        where CATEGORY_IDX = 2
    </select>

    <select id="findTotalFAQSearchRecordCount" resultType="int" parameterType="String">
        select count(*)
        from FAQ f
                 join CATEGORY c on f.category_idx = c.CATEGORY_IDX
                 join MEMBER m on f.m_idx = m.m_idx
        where f.category_idx = 2 and (f.title like CONCAT('%',#{searchKey},'%') or f.content like CONCAT('%',#{searchKey},'%'))

    </select>

</mapper>