<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.config.InquiryMapper">

    <select id="showUserInquiry" resultType="InquiryDTO" parameterType="MemberDTO">
        select inquiry_idx as i_idx,
               m_idx,
               category_id,
               content,
               image,
               image_db,
               upload_date,
               inquiry_idx2 as i_idx2
        from INQUIRY
        <if test="autorities == '사용자'">
            where m_idx = #{m_idx}
        </if>
    </select>
    <insert id="writeUserInquiry" parameterType="InquiryDTO">
        insert into INQUIRY (m_idx, category_id, content
                             <if test="image != null">
                                 ,image, image_db
                             </if>
                             ,upload_date
                             <if test="i_idx2 != 0">
                                 ,inquiry_idx2
                             </if>
                             )
        values(#{m_idx}, #{category_id}, #{content}
            <if test="image != null">
                ,#{image}, #{image_db}
            </if>
            ,now()
            <if test="i_idx2 != 0">
                ,#{i_idx2}
            </if>
        )
    </insert>

    <update id="updateUserInquiry" parameterType="InquiryDTO">
        update INQUIRY
        <set>
            category_id = #{category_id}
            ,content = #{content}
            <if test="image != null">
                ,image = #{image}, image_db = #{image_db}
            </if>
        </set>
        where inquiry_idx = #{i_idx}
    </update>
</mapper>