<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.config.InquiryMapper">
    <select id="countTotalInquiries" resultType="int" parameterType="MemberDTO">
        select count(*) from INQUIRY
        <if test="authorities == 'USER'">
            where m_idx = #{m_idx}
        </if>
    </select>
    <select id="showUserInquiry" resultType="InquiryDTO" parameterType="MemberDTO">
        select t.i_idx, t.m_idx, t.category_id, t.title, t.content, t.upload_date, t.last_updated_date, t.i_idx2, t.status
        from (
            select
                inquiry_idx as i_idx,
                m_idx,
                category_id,
                title,
                content,
                date_format(upload_date, "%Y/%m/%d %H:%i:%s") as upload_date,
                date_format(last_updated_date, "%Y/%m/%d %H:%i:%s") as last_updated_date,
                inquiry_idx2 as i_idx2,
                case
                    when inquiry_idx2 is null then inquiry_idx
                    else inquiry_idx2
                end as inq_group,
                i_status as status
            from INQUIRY
        ) t
        <if test="authorities == 'USER'">
            where m_idx = #{m_idx}
        </if>
        order by inq_group desc, i_idx
    </select>
    <select id="showOneUserInquiry" resultType="InquiryDTO" parameterType="int">
        select inquiry_idx as i_idx,
               m_idx,
               category_id,
               title,
               content,
               date_format(upload_date, "%Y/%m/%d %H:%i:%s") as upload_date,
               date_format(last_updated_date, "%Y/%m/%d %H:%i:%s") as last_updated_date,
               inquiry_idx2 as i_idx2,
               i_status as status
        from INQUIRY
        where inquiry_idx = #{i_idx}
    </select>
    <insert id="writeUserInquiry" parameterType="InquiryDTO">
        insert into INQUIRY (m_idx, category_id, title, content
                             ,upload_date
                             <if test="i_idx2 != 0">
                             ,inquiry_idx
                             </if>
                             )
        values(#{m_idx}, #{category_id}, #{title}, #{content}
            ,now()
            <if test="i_idx2 != 0">
                ,#{i_idx2}
            </if>
        )
    </insert>

    <update id="updateUserInquiry" parameterType="InquiryDTO">
        update INQUIRY
        <set>
            category_id = #{category_id}
            ,content = #{content}
        </set>
        where inquiry_idx = #{i_idx}
    </update>
    <delete id="deleteUserInquiry" parameterType="int">
        delete from INQUIRY
        where inquiry_idx = #{i_idx}
    </delete>


</mapper>