<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.config.MemberMapper">

    <select id="selectAllMember" resultType="MemberDTO">
        select *
        from MEMBER
    </select>

    <select id="login" resultType="MemberDTO" parameterType="map">
        select *
        from MEMBER
        where userid = #{userid} and passwd = #{passwd}
    </select>

    <update id="updateFakePassword" parameterType="map">
      update MEMBER
      set passwd = #{str}
      where concat(EMAIL1,'@',EMAIL2)=#{userEmail} and userid = #{userid}
    </update>

    <select id="userEmailCheck" parameterType="map" resultType="boolean">
        select count(*)
        from MEMBER
        where userid = #{userid} and concat(EMAIL1,'@',EMAIL2)= #{userEmail}
    </select>
</mapper>