<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.config.MemberMapper">

    <select id="selectAllMember" resultType="MemberDTO">
        select *
        from MEMBER
    </select>

    <!-- 회원 추가 -->
    <insert id="memberAdd" parameterType="MemberDTO">
        INSERT	INTO MEMBER (userid, passwd, username, phone1, phone2, phone3, email1, email2, uploadfilename, storefilename)
        VALUES (#{userid},#{passwd},#{username},#{phone1},#{phone2},#{phone3},#{email1},#{email2},#{uploadFileName},#{storeFileName})
    </insert>

    <!-- 회원가입 아이디 유효성 체크 -->
    <select id="idDuplicateCheck" resultType="int" parameterType="String">
        select count(*)
        from MEMBER
        where userid=#{userid}
    </select>

    <!-- 명지 : 마이페이지 정보 가져오기 -->
    <select id="selectMypageInfo" parameterType="int" resultType="MemberDTO">
        select m_idx, username, userid, passwd, email1, email2, uploadfilename, storefilename, phone1, phone2, phone3, DATE_FORMAT(joindate, '%Y-%m-%d') joindate, authorities
        from MEMBER
        WHERE m_idx=#{m_idx}
    </select>

    <!-- 명지 : 마이페이지 정보 수정하기 -->
    <update id="updateMypage" parameterType="MemberDTO">
        update MEMBER
        set
            passwd=#{passwd},
            email1=#{email1},
            email2=#{email2},
            uploadFileName=#{uploadFileName},
            storeFileName=#{storeFileName},
            phone1=#{phone1},
            phone1=#{phone2},
            phone1=#{phone3}
            where m_idx=#{m_idx}
    </update>

    <select id="selectByLoginId" resultType="MemberDTO" parameterType="string">
        select *
        from MEMBER
        where userid = #{userid}
    </select>

    <update id="updateFakePassword" parameterType="map">
      update MEMBER
      set passwd = #{fakePw}
      where concat(EMAIL1,'@',EMAIL2)=#{userEmail} and userid = #{userid}
    </update>

    <select id="userEmailCheck" parameterType="map" resultType="boolean">
        select count(*)
        from MEMBER
        where userid = #{userid} and concat(EMAIL1,'@',EMAIL2)= #{userEmail}
    </select>
</mapper>