<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.config.PayRoomMapper">

    <select id="selectPayRoom" parameterType="int" resultType="PayRoomDTO">
        select pr_idx, room_name, date_format(create_date,'%Y-%m-%d') as create_date
        from PAYROOM
        where m_idx = #{m_idx}
        order by create_date desc
    </select>

    <insert id="insertPayRoom" parameterType="PayRoomDTO" useGeneratedKeys="true" keyProperty="pr_idx">
        insert into PAYROOM (m_idx,room_name) values (#{m_idx},#{room_name});
    </insert>

    <insert id="insertMemberList" parameterType="PayRoomDTO">
        INSERT INTO PAYGROUPMEMBER (PR_IDX,paymember_name)
        values
<foreach collection="groupMemberList" index="index" item="item" separator=",">
         (#{pr_idx},#{item.payMember_name})
</foreach>
    </insert>

    <resultMap id="payRoom" type="PayRoomDTO">
        <id property="pr_idx" column="pr_idx"></id>
        <result property="m_idx" column="m_idx"></result>
        <result property="room_name" column="room_name"></result>
        <result property="create_date" column="create_date"></result>
        <collection property="groupMemberList" column="pr_idx" javaType="java.util.ArrayList" ofType="PayGroupMemberDTO" select="selectPayRoomGroupMember">
        </collection>
    </resultMap>

    <select id="selectPayRoomGroupMember" resultType="PayGroupMemberDTO">
        select pr_idx, prgm_idx, PAYMEMBER_NAME, PAYMEMBER_ACCOUNT, PAYMEMBER_BANK
        from PAYGROUPMEMBER
        where PR_IDX = #{pr_idx}
    </select>
    <select id="selectPayRoomRetrieve" resultMap="payRoom" parameterType="hashmap">
        select pr_idx, m_idx, room_name, date_format(create_date,'%Y-%m-%d') as create_date
        from PAYROOM
        where PR_IDX = #{pr_idx} and m_idx = #{m_idx}
    </select>

    <update id="updateAccount" parameterType="map">
        UPDATE PAYGROUPMEMBER
        SET
            paymember_account = #{payMember_account},
            paymember_bank = #{payMember_bank}
        where prgm_idx = #{prgm_idx}
    </update>

    <update id="accountNull" parameterType="int">
        UPDATE PAYGROUPMEMBER
        SET
            paymember_account = NULL,
            paymember_bank = NULL
        where prgm_idx = #{prgm_idx}
    </update>
    <insert id="insertDutchPay" parameterType="DutchPayDTO" useGeneratedKeys="true" keyProperty="dp_idx">
        insert into DUTCHPAYLIST (pr_idx,dp_name, cut_option
            <if test="createDate != null">
            , create_date
            </if>
            <if test="dueDate != null">
                , due_date
            </if>
        )
        values (#{pr_idx},#{dutchPayName}, #{option}
            <if test="createDate != null">
                , #{createDate}
            </if>
            <if test="dueDate != null">
                , #{dueDate}
            </if>
        )
    </insert>
    <insert id="updateDutchPay" parameterType="DutchPayDTO">
        update DUTCHPAYLIST
            set dp_name = #{dutchPayName},
                cut_option = #{option}
        <if test="createDate != null">
            , create_date = #{createDate}
        </if>
        <if test="dueDate != null">
            , due_date = #{dueDate}
        </if>
        where dp_idx = #{dp_idx}
    </insert>
    <insert id="insertPayList" parameterType="PayDTO" useGeneratedKeys="true" keyProperty="p_idx">
        insert into PAYLIST(dp_idx, pay_name, payer, price)
        values(#{dp_idx}, #{p_name}, #{payMember.prgm_idx}, #{price})
    </insert>
    <insert id="insertPayParticipants" parameterType="PayAndParticipants">
        insert into PAYPARTICIPANTS(p_idx, prgm_idx)
        values
        <foreach collection="participants" index="index" item="item" separator=",">
            (#{p_idx}, #{item.prgm_idx})
        </foreach>
    </insert>
    <select id="dutchpayListInfo" parameterType="int" resultType="DutchPayDTO">
        select dp.dp_idx, dp.dp_name dutchPayName, date_format(dp.create_date,'%Y-%m-%d') createDate, dp.due_date dueDate, t.totalPay
        from (select sum(price) totalPay, dp_idx from PAYLIST group by dp_idx) t
            right outer join DUTCHPAYLIST dp on dp.dp_idx = t.dp_idx
        where dp.pr_idx = #{pr_idx};
    </select>

    <resultMap id="dutchPay" type="DutchPayDTO">
        <id property="dp_idx" column="dp_idx"></id>
        <result property="dutchPayName" column="dp_name"></result>
        <result property="option" column="cut_option"></result>
        <result property="createDate" column="create_date"></result>
        <result property="dueDate" column="due_date"></result>
        <collection property="payList" ofType="PayDTO">
            <id property="p_idx" column="p_idx"></id>
            <result property="p_name" column="pay_name"></result>
            <result property="price" column="price"></result>
            <association property="payMember" javaType="PayGroupMemberDTO">
                <id property="prgm_idx" column="payer"/>
                <result property="payMember_name" column="paymember_name"/>
            </association>
            <collection property="participants" ofType="PayGroupMemberDTO">
                <id property="prgm_idx" column="p_prgm_idx"/>
                <result property="payMember_name" column="p_paymember_name"/>
            </collection>
        </collection>
    </resultMap>
    <select id="dutchpayInfo" parameterType="hashmap" resultMap="dutchPay">
        select dp.dp_idx, dp.dp_name, dp.cut_option, date_format(dp.create_date,'%Y-%m-%d') create_date, dp.due_date,
               p.p_idx, p.pay_name, p.price, p.payer, pg2.paymember_name,
               pp.prgm_idx p_prgm_idx, pg.paymember_name p_payMember_name
        from DUTCHPAYLIST dp
                 left outer join PAYLIST p on dp.dp_idx = p.dp_idx
                 left outer join PAYPARTICIPANTS pp on p.p_idx = pp.p_idx
                 left outer join PAYGROUPMEMBER pg on pp.prgm_idx = pg.prgm_idx
                 left outer join PAYGROUPMEMBER pg2 on p.payer = pg2.prgm_idx
        where dp.pr_idx = #{pr_idx} and dp.dp_idx = #{dp_idx};
    </select>

    <select id="memberCheck" parameterType="hashmap" resultType="boolean">
        select count(*) from (
                    select DISTINCT prgm_idx from
                         (select payer as prgm_idx, p_idx from PAYLIST
                            union
                            select prgm_idx, p_idx from PAYPARTICIPANTS) A
                    where p_idx in (
                                select p_idx from PAYLIST
                                where dp_idx in (
                                    select dp_idx from DUTCHPAYLIST where pr_idx = #{pr_idx}))) B
        where prgm_idx = #{prgm_idx}
    </select>

    <delete id="memberDelete" parameterType="int">
        delete from PAYGROUPMEMBER
        where prgm_idx = #{prgm_idx}
    </delete>

    <insert id="memberAdd" parameterType="PayGroupMemberDTO" useGeneratedKeys="true" keyProperty="prgm_idx">
        insert into PAYGROUPMEMBER (pr_idx,paymember_name)
        values (#{pr_idx},#{payMember_name})
    </insert>

    <delete id="deleteOnePayInDutchpay">
        delete from PAYLIST where p_idx = #{p_idx}
    </delete>
    <delete id="deleteParticipantsInOnePay">
        delete from PAYPARTICIPANTS where p_idx = #{p_idx}
    </delete>
    <delete id="deleteOneDutpay">
        delete from DUTCHPAYLIST where dp_idx = #{dp_idx}
    </delete>
    <delete id="deleteParticipantsInAllPayInOneDutch">
        delete from PAYPARTICIPANTS
        where p_idx in (select p_idx from PAYLIST where dp_idx = #{dp_idx})
    </delete>
    <delete id="deleteAllPayInDutchpay">
        delete from PAYLIST where dp_idx = #{dp_idx}
    </delete>
    <resultMap id="payInfo" type="PayDTO">
        <id property="p_idx" column="p_idx"></id>
        <result property="p_name" column="pay_name"></result>
        <result property="price" column="price"></result>
        <association property="payMember" javaType="PayGroupMemberDTO">
            <id property="prgm_idx" column="payer"/>
            <result property="payMember_name" column="paymember_name"/>
        </association>
        <collection property="participants" ofType="PayGroupMemberDTO">
            <id property="prgm_idx" column="p_prgm_idx"/>
            <result property="payMember_name" column="p_paymember_name"/>
        </collection>
    </resultMap>
    <select id="showOnePayInfo"  parameterType="int" resultMap="payInfo">
        select p.p_idx, p.pay_name, p.price, p.payer, pg2.paymember_name,
               pp.prgm_idx p_prgm_idx, pg.paymember_name p_payMember_name
        from PAYLIST p
                 left outer join PAYPARTICIPANTS pp on p.p_idx = pp.p_idx
                 left outer join PAYGROUPMEMBER pg on pp.prgm_idx = pg.prgm_idx
                 left outer join PAYGROUPMEMBER pg2 on p.payer = pg2.prgm_idx
        where p.p_idx = #{p_idx};
    </select>
    <update id="updateOnePayInDutchpay" parameterType="PayDTO">
        update PAYLIST
        set
            pay_name = #{p_name},
            price = #{price},
            payer = #{payMember.prgm_idx}
        where p_idx = #{p_idx}
    </update>

    <select id="selectAccount" parameterType="int" resultType="PayGroupMemberDTO">
        select * from PAYGROUPMEMBER where prgm_idx = #{prgm_idx}
    </select>
    <insert id="saveDutchPayResult" parameterType="hashmap">
        insert into DUTCHPAYRESULT(dp_idx, sender, recipient, amount, paid)
        values
        <foreach collection="result" index="index" item="item" separator=",">
            (#{dp_idx}, #{item.sender.prgm_idx}, #{item.recipient.prgm_idx}, #{item.amount},
             <if test="item.isPaid == true">
                 'Y'
             </if>
             <if test="item.isPaid == false">
                 'N'
             </if>
             )
        </foreach>
    </insert>
    <delete id="deleteDutchPayResult" parameterType="int">
        delete from DUTCHPAYRESULT
        where dp_idx = #{dp_idx}
    </delete>
    <select id="showDutchPayResultInDB" resultMap="dutchPayForDutchPayResult" parameterType="hashmap">
        select d.dp_idx, d.pr_idx, d.dp_name,
               DATE_FORMAT(d.create_date, '%Y-%m-%d') create_date,
               DATE_FORMAT(d.due_date, '%Y-%m-%d') due_date,
               r.sender, pg1.paymember_name sender_name,
               r.recipient, pg2.paymember_name recipient_name,
               r.amount,
               case r.paid
                   when 'Y' then true
                   else false
                   end paid
        from DUTCHPAYLIST d
                 right outer join DUTCHPAYRESULT r on d.dp_idx = r.dp_idx
                 join PAYGROUPMEMBER pg1 on r.sender = pg1.prgm_idx
                 join PAYGROUPMEMBER pg2 on r.recipient = pg2.prgm_idx
        where d.dp_idx = #{dp_idx} and d.pr_idx = #{pr_idx};
    </select>
    <resultMap id="dutchPayForDutchPayResult" type="DutchPayDTO">
        <id property="dp_idx" column="dp_idx"></id>
        <result property="dutchPayName" column="dp_name"></result>
        <result property="createDate" column="create_date"></result>
        <result property="dueDate" column="due_date"></result>
        <collection property="dutchpayResultList" ofType="DutchPayResultDTO">
            <result property="amount" column="amount"></result>
            <result property="isPaid" column="paid"></result>
            <association property="recipient" javaType="PayGroupMemberDTO">
                <id property="prgm_idx" column="recipient"/>
                <result property="payMember_name" column="recipient_name"/>
            </association>
            <association property="sender" javaType="PayGroupMemberDTO">
                <id property="prgm_idx" column="sender"/>
                <result property="payMember_name" column="sender_name"/>
            </association>
        </collection>
    </resultMap>

</mapper>