<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.config.PayRoomMapper">

    <select id="selectPayRoom" parameterType="int" resultType="PayRoomDTO">
        select room_name, date_format(create_date,'%Y-%m-%d') as create_date
        from PAYROOM
        where m_idx = #{m_idx}
        order by create_date desc
    </select>

    <insert id="insertPayRoom" parameterType="PayRoomDTO">
        insert into PAYROOM (m_idx,room_name) values (#{m_idx},#{room_name});
    </insert>

    <insert id="insertMemberList" parameterType="PayRoomDTO">
<selectKey keyProperty="pr_idx" resultType="int" order="BEFORE">
        select LAST_INSERT_ID();
</selectKey>
        INSERT INTO PAYGROUPMEMBER (PR_IDX,paymember_name,paymember_account)
        values
<foreach collection="groupMemberList" index="index" item="item" separator=",">
         (#{pr_idx},#{item.payMember_name},#{item.payMember_account})
</foreach>
    </insert>


</mapper>