@charset "UTF-8";
@import url('NanumSquare.css');
@import url('NanumSquareRound.css');
@import url('TmoneyRoundWind.css');

* {
    font-family: NanumSquare;
}

a {
    text-decoration: none;
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0px auto;
    padding-inline-start: 0px;
}

li {
    display: inline-block;
}

input {
    font-style: normal;
    border: none;
}

input:focus {
    outline: none;
}

input[type=password] {
    font-family: NanumSquareRound;
}

.reset {
    padding: 0px;
    margin: 0px;
    clear: both;
}

select {
    width: 100%;
    border: 0.5px solid #818386;
    margin-top: 16px;
    padding: 22px 29px;
    font-size: 24px !important;
    font-family: NanumSquare !important;
    font-weight: 500;
    color: #333333;
    background-color: #ffffff;
    background: url(../images/openSelect.png) 95.5% center no-repeat;
    appearance: none;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    outline: none;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    border-radius: 2px;
    cursor: pointer;
    height: 20px;
    outline: 0;
    width: 20px;
    border: 1px solid #4E4E4E !important;
    margin: -6px 2px;
}
input[type="checkbox"]::after {
    /*border: solid #fff;*/
    content: 'V';
    display: none;
    /*height: 40%;*/
    /*left: 40%;*/
    position: relative;
    top: 0%;
    color: #FFFFFF;
    font-size: 15px;
    /*width: 15%;*/
    padding: 3px;
    text-align: center;
}
input[type="checkbox"]:checked {
    background: #505bf0;
}
input[type="checkbox"]:checked::after {
    display: block;
}

/* IE 기본 스타일 제거 */
select::-ms-expand {
    display: none; /* IE 10, 11 */
}

textarea {
    outline: none;
}

/* header */
#header_box {
    position: fixed;
    width: 100%;
    z-index: 8;
    background-color: white;
}

header {
    z-index: 100;
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    border: none;
    position: fixed;
    background-color: #FFF;
}

header .ico_lt, .ico_rt {
    position: absolute;
    top: 20px;
}

header .ico_lt .cancel {
    display: inline-block;
    font-weight: 700;
    font-size: 30px;
    padding: 18px 30px 16px;
    margin-top: 4px;
}

header .ico_lt .cancel span {
    color: #646464;
    display: inline-block;
}

header .ico_lt {
    left: 30px;
}

header .ico_rt {
    right: 40px;
}

header .ico_rt .write {
    display: inline-block;
    background-color: #4677DE;
    font-weight: 700;
    font-size: 24px;
    padding: 18px 30px 16px;
    margin-top: 4px;
    border-radius: 10px;
}

header .ico_rt .rewrite {
    display: inline-block;
    border: 1px solid #4677DE;
    font-weight: 700;
    font-size: 24px;
    padding: 18px 30px 16px;
    margin-top: 4px;
    border-radius: 10px;
}

header .ico_rt .rewrite span {
    color: #4677DE;
}

header .ico_rt span {
    color: #FFFFFF;
    display: inline-block;
}

header .ico_rt .save {
    display: inline-block;
    font-weight: 700;
    font-size: 30px;
    padding: 18px 30px 16px;
    margin-top: 4px;
}

header .ico_rt .save span {
    color: #646464;
    display: inline-block;
}


header .title {
    text-align: center;
}

header .title .headerLogo {
    display: inline-block;
}

header .title .headerLogo span {
    font-family: TmoneyRoundWind;
    font-weight: 900;
    font-size: 50px;
    color: #4677DE;
    letter-spacing: -3px;
}

header .title .headerText {
    display: inline-block;
}

header .title .headerText span {
    display: block;
    font-weight: 900;
    font-size: 34px;
    color: #4677DE;
    padding: 15px 0px;
}


/* main */
#main {
    padding: 95px 0px;
    text-align: center;
}

#main .unlogin {
    padding-top: 505px;
}

#main .unlogin .info {
    display: block;
    font-size: 28px;
    font-weight: 700;
    color: #507FE2;
}

#main .unlogin a {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #4677DE;
}

#main .unlogin a span {
    display: inline-block;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.2px;
}

#main #payRoomList {
    padding: 70px 45px;
    text-align: left;
}

#main #payRoomList .list_top {
    padding: 20px 15px;
    border-bottom: 5px solid #4677DE;
}

#main #payRoomList .list_top .tit {
    font-size: 25px;
    font-weight: 900;
    color: #4677DE;
}

#main #payRoomList .list_top .btn-add-room {
    float: right;
}

#main #payRoomList .wrap_payRoom {
    padding: 25px 20px;
    border-bottom: 1px solid rgba(210, 210, 210, 0.8);
}

#main #payRoomList .wrap_payRoom .tit {
    font-size: 24px;
    color: #4E4E4E;
}

#main #payRoomList .wrap_payRoom .date {
    font-size: 20px;
    color: #7D7D7D;
    float: right;
}

#main #payRoomList .list_bottom {
    border-top: 2px solid #717274;
    padding: 15px 10px;
}

#main #payRoomList .list_bottom a {
    float: right;
}

#main #payRoomList .list_bottom span {
    text-decoration: underline;
    font-weight: 900;
    font-size: 24px;
    color: #444444;
}

/**** modal (초기 방 생성 팝업창) ****/

.modal {
    z-index: 150;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal.show {
    display: block;
}

.modal_body {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    transform: translateX(-50%) translateY(-50%);
}


.modal .modal_body .top {
    padding-bottom: 20px;
}

.modal .modal_body .top .tit {
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
}

.modal .modal_body .top a {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 50px;
    height: 50px;
}

.modal .modal_body .top img {
    width: 100%;
}

.modal .modal_body .input_box .one_box {
    padding: 15px 0px;
}

.modal .modal_body .input_box span {
    display: inline-block;
    margin-right: 10px;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    color: #414142;
}

.modal .modal_body .input_box input {
    border-bottom: 1px solid #4E4E4E;
    font-size: 18px;
    padding: 0px 10px 10px;
}

.modal .modal_body .input_box .room_name {
    width: 80%;
}

.modal .modal_body .input_box .room_member {
    width: 73%;
}

.modal .modal_body .input_box .one_box a {
    position: absolute;
    margin-left: 10px;
    width: 26px;
    height: 26px;
}

.modal .modal_body .input_box .one_box a img {
    width: 100%;
}

.modal .modal_body .input_box .memberList {
    padding: 20px 0px;
}

.modal .modal_body .result_payRoom {
    display: inline-block;
    padding-bottom: 15px;
    color: #E74133;
    font-size: 17px;
}

.modal .modal_body .btn-create-room {
    display: block;
    border: 1px solid #4677DE;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.modal .modal_body .btn-create-room span {
    font-size: 20px;
    color: #4677DE;
    display: inline-block;
}

/* 결제목록 추가 modal */
.modal .modal_body .room_tit {
    padding: 10px 0px;
}

.modal .modal_body .room_tit input {
    font-size: 22px;
    font-weight: 700;
    color: #646464;
    padding: 5px 0px;
    width: 93%;
}

.modal .modal_body .room_tit a {
    position: absolute;
}

.modal .modal_body table, thead, tbody {
    width: 100%;
    text-align: center;
    border-top: 5px solid #646464;
}

.modal .modal_body thead th {
    padding: 10px 0px;
    border-bottom: 1px solid #D2D2D2;
}

.modal .modal_body thead th span {
    font-size: 20px;
    color: #646464;
    font-weight: 500;
}

.modal .modal_body tbody td {
    padding: 10px 0px;
    border-bottom: 1px solid #D2D2D2;
}

.modal .modal_body tbody td span {
    font-size: 20px;
    color: #646464;
    font-weight: 500;
}

.modal .modal_body table select {
    padding: 10px;
    font-size: 17px !important;
    width: 80%;
    margin-top: 0px;
}

.modal .modal_body table input[type="text"] {
    font-size: 18px;
    padding: 10px 0px;
    border-bottom: 1px solid rgba(210, 210, 210, 0.5);
}

.modal .modal_body .calInfo {
    padding: 10px 0px;
}

.modal .modal_body .calInfo input {
    width: 80.5%;
    border-bottom: 1px solid #4E4E4E;
    padding: 10px;
    font-size: 18px;
}

.modal .modal_body .box {
    margin: 10px 0px;
}

.modal .modal_body .box span {
    display: inline-block;
    font-weight: 500;
    font-size: 20px;
    color: #4E4E4E;
    padding: 15px 0px;
    width: 90px;
}

.modal .modal_body .btn-save {
    margin: 10px 0px;
    display: block;
    padding: 20px;
    border: 1px solid #4677DE;
    text-align: center;
}

.modal .modal_body .btn-save {
    font-size: 20px;
    color: #4677DE;
}

.modal .modal_body .btn-show-result {
    margin: 10px 0px;
    display: block;
    padding: 20px;
    background-color: #4677DE;
    border: 1px solid #4677DE;
    text-align: center;
}

.modal .modal_body .btn-show-result {
    font-size: 20px;
    color: #FFFFFF;
}

.modal .modal_body .box select {
    width: 84%;
    padding: 10px;
    font-size: 18px !important;
}


/**** second_modal ****/
.second_modal {
    z-index: 150;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}

.second_modal.show {
    display: block;
}

.second_modal .modal_body {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    transform: translateX(-50%) translateY(-50%);
}

.second_modal .modal_body .top {
    padding-bottom: 20px;
}

.second_modal .modal_body .top .tit {
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
}

.second_modal .modal_body .top a {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 50px;
    height: 50px;
}

.second_modal .modal_body .top img {
    width: 100%;
}

.second_modal .modal_body .room_tit {
    padding: 10px 0px;
}

.second_modal .modal_body .room_tit input {
    font-size: 22px;
    font-weight: 700;
    color: #646464;
    padding: 5px 0px;
    width: 93%;
}

.second_modal .modal_body .room_tit a {
    position: absolute;
}

.second_modal .modal_body table, thead, tbody {
    width: 100%;
    text-align: center;
    border-top: 5px solid #646464;
}

.second_modal .modal_body thead th {
    padding: 10px 0px;
    border-bottom: 1px solid #D2D2D2;
}

.second_modal .modal_body thead th span {
    font-size: 20px;
    color: #646464;
    font-weight: 500;
}

.second_modal .modal_body tbody td {
    padding: 10px 0px;
    border-bottom: 1px solid #D2D2D2;
}

.second_modal .modal_body tbody td span {
    font-size: 20px;
    color: #646464;
    font-weight: 500;
}

.second_modal .modal_body .calInfo {
    padding: 10px 0px;
}

.second_modal .modal_body .calInfo input {
    width: 80.5%;
    border-bottom: 1px solid #4E4E4E;
    padding: 10px;
    font-size: 18px;
}

.second_modal .modal_body .box {
    margin: 10px 0px;
}

.second_modal .modal_body .box span {
    display: inline-block;
    font-weight: 500;
    font-size: 20px;
    color: #4E4E4E;
    padding: 15px 0px;
    width: 90px;
}

.second_modal .modal_body .btn-edit {
    margin: 10px 0px;
    display: block;
    padding: 20px;
    border: 1px solid #4677DE;
    text-align: center;
}

.second_modal .modal_body .btn-edit span {
    font-size: 20px;
    color: #4677DE;
}

.second_modal .modal_body .btn-save {
    margin: 10px 0px;
    display: block;
    padding: 20px;
    background-color: #4677DE;
    border: 1px solid #4677DE;
    text-align: center;
}

.second_modal .modal_body .btn-save span {
    font-size: 20px;
    color: #FFFFFF;
}

/**** 계좌 목록 추가 ****/
.new-account-bank {
    width: 70px;
    font-size: 20px;
    border-bottom: 1px solid rgba(210, 210, 210, 0.5);
}

.new-account-number {
    width: 160px;
    font-size: 20px;
    border-bottom: 1px solid rgba(210, 210, 210, 0.5);
}

.new-account-owner {
    margin-top: 0px;
    width: 80%;
    padding: 10px;
    font-size: 18px !important;
}


/**** payRoom ****/
#payRoom {
    padding: 95px 45px;
}

#payRoom .roomInfo {
    padding: 20px 0px;
}

#payRoom .roomInfo .room_tit {
    border-bottom: 1px solid #C7C7C7;
    padding: 20px 15px;
}

#payRoom .roomInfo .room_tit input {
    font-size: 28px;
    color: #646464;
}

#payRoom .roomInfo .room_member {
    padding: 30px 0px 0px;
}

#payRoom .roomInfo .room_member span {
    display: inline-block;
    margin-right: 25px;
    padding: 20px 0px;
    font-size: 22px;
    font-weight: 700;
    color: #646464;
}

#payRoom .roomInfo .room_member input {
    width: 75%;
    border-bottom: 1px solid #4E4E4E;
    font-size: 20px;
    padding: 15px;
}

#payRoom .roomInfo .room_member a {
    position: absolute;
    display: inline-block;
    margin: 15px 15px 10px;
}

#payRoom .roomInfo .memberBox {
    display: inline-block;
    padding: 10px 10px 10px 90px;
}

#payRoom .roomInfo .memberBox span {
    display: inline-block;
    font-size: 18px;
    color: #646464;
    font-weight: 500;
    padding: 0px 15px 0px 0px;
}

#payRoom .roomInfo .memberBox a {
    display: inline-block;
    position: absolute;
    margin: -4px 0px 0px 4px;
}

#payRoom .payRoomList {
    text-align: left;
    padding-bottom: 50px;
}

#payRoom .payRoomList .list_top {
    padding: 20px 15px;
    border-bottom: 5px solid #646464;
}

#payRoom .payRoomList .list_top .tit {
    font-size: 23px;
    font-weight: 900;
    color: #646464;
}

#payRoom .payRoomList .list_top .btn-add-room {
    float: right;
}

#payRoom .payRoomList table, thead, tbody {
    width: 100%;
    text-align: center;
}

#payRoom .payRoomList thead th {
    padding: 10px 0px;
    border-bottom: 1px solid #D2D2D2;
}

#payRoom .payRoomList thead th span {
    font-size: 20px;
    color: #646464;
    font-weight: 500;
}

#payRoom .payRoomList tbody td {
    padding: 10px 0px;
    border-bottom: 1px solid #D2D2D2;
}

#payRoom .payRoomList tbody td span {
    font-size: 20px;
    color: #646464;
    font-weight: 500;
}

/* 결과보기 */
.pay-result-sender-class, .pay-result-recipient-class, .pay-result-amount-class, .pay-result-paid-class {
    font-size: 18px;
    text-align: center;
}

.sub-tit {
    display: inline-block;
    padding: 20px 0px 10px;
    font-size: 19px;
    font-weight: 700;
}

/* #black */
#aside-black {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(18, 18, 18, 1);
}

#aside {
    position: fixed;
    left: -1000px;
    width: 80%;
    height: 1920px;
    z-index: 15;
    background-color: white;
}

/* #aside */
#aside .close_wrap {
    width: 100%;
}

#aside .close_wrap a {
    float: right;
    padding: 15px 20px;
}

#aside .pro_box {
    display: block;
    padding: 10px 40px 70px;
}

#aside .pro_box .img_wrap {
    width: 110px;
    height: 110px;
    display: inline-block;
    float: left;
    overflow: hidden;
    border-radius: 100px;
}

#aside .pro_box .img_wrap img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#aside .pro_box .text_box {
    padding-left: 140px;
}

#aside .pro_box .text_box .top {
    padding-top: 12px;
}

#aside .pro_box .text_box .top span {
    float: left;
    font-weight: 900;
    font-size: 34px;
    color: #414142;
    padding-right: 15px;
}

#aside .pro_box .text_box .userid1 {
    display: block;
    font-weight: 500;
    font-size: 26px;
    color: #8D8D8D;
    padding-top: 55px;
}

#aside .pro_box .text_box .userid2 {
    display: block;
    font-weight: 500;
    font-size: 26px;
    color: #8D8D8D;
    padding-top: 5px;
}

#aside .menu {
    width: 100%;
}

#aside .box_line {
    width: 100%;
    height: 1px;
    background-color: #D2D2D2;
    opacity: 50%;
}

#aside .menu .box_wrap {
    padding: 45px 45px 20px;
}

#aside .menu .box_wrap .tit {
    display: block;
    font-weight: 700;
    font-size: 34px;
    color: #414142;
}

#aside .menu .box_wrap .menu_detail {
    padding: 20px 20px 0px;
}

#aside .menu .box_wrap .menu_detail a {
    display: block;
    padding: 21px 0px;
}

#aside .menu .box_wrap .menu_detail span {
    font-weight: 500;
    font-size: 30px;
    color: #414142;
}

/* login */
#login {
    padding-top: 95px;
}

#login .logo {
    font-family: TmoneyRoundWind;
    display: block;
    text-align: center;
    font-size: 110px;
    font-weight: 900;
    letter-spacing: -5px;
    color: #4677DE;
    padding: 100px 0px 40px;
}

#login .loginForm {
    padding: 30px 60px;
}

#login .loginForm .input_wrap input[type=text], input[type=password] {
    display: block;
    width: 90%;
    margin: 0px auto 30px;
    height: 110px;
    border-bottom: 1px solid rgba(177, 177, 177, 0.5);
    font-size: 34px;
    padding: 0px 30px;
    color: #414142;
}

#login .loginForm .result {
    display: block;
    font-size: 24px;
    color: #E74133;
    text-align: right;
    padding-bottom: 30px;
}


#login .options {
    text-align: center;
    margin: 35px auto;
}

#login .options .box {
    display: inline-block;
}

#login .options a {
    float: left;
    padding: 0px 20px;
}

#login .options a span {
    display: inline-block;
    font-size: 30px;
    color: #414142;
}

#login .options .wall {
    float: left;
    width: 1px;
    height: 34px;
    background-color: #A6A6A6;
}

#login .snslogin {
    margin: 80px auto;
    text-align: center;
}

#login .snslogin .loginimg {
    padding-top: 25px;
}

/* mypage */
#mypage {
    padding-top: 95px;
}

#mypage #editMypage {
    padding: 0px 54px 80px;
}

#mypage .profile {
    padding: 60px 0px 30px;
    text-align: center;
}

#mypage .profile .image {
    width: 210px;
    height: 210px;
    display: inline-block;
    overflow: hidden;
    border-radius: 100px;
}

#mypage .profile .image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#mypage .profile input[type=file] {
    display: none;
}

#mypage .profile label {
    display: block;
}

#mypage .profile .tit {
    display: block;
    margin-top: 26px;
    font-size: 26px;
    font-weight: 700;
    color: #787878;
}

#mypage .profile .info {
    display: block;
    margin-top: 18px;
    font-size: 16px;
    font-weight: 700;
    color: #787878;
}

#mypage .join_table {
    width: 100%;
    margin: 0px 0px 50px;
    padding: 0;
    font-size: 20px;
}

#mypage .join_table .item_th {
    padding: 15px 0px;
    width: 100px;
}

#mypage .join_table .item_th span {
    display: inline-block;
    margin-top: 20px;
    font-size: 26px;
    color: #646464;
    font-weight: 700;
}

#mypage .join_table .item_box div {
    width: 100%;
    height: 70px;
    margin-left: 10px;
    line-height: 47px;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: #F0F0F0;

}

#mypage .join_table .item_box input[type=text] {
    display: block;
    overflow: hidden;
    width: 90%;
    height: 69px;
    padding: 0 3%;
    margin: 20px 0px;
    font-size: 26px;
    font-weight: 500;
    color: #646464;
    border-bottom: none;
}

#mypage .join_table .item_box input[type=password] {
    display: block;
    overflow: hidden;
    width: 90%;
    height: 69px;
    padding: 0 3%;
    margin: 20px 0px;
    font-size: 26px;
    font-weight: 500;
    color: #646464;
    border-bottom: none;
}

#mypage .join_table .item_box input[readonly=readonly] {
    display: block;
    overflow: hidden;
    width: 90%;
    height: 69px;
    padding: 0 3%;
    margin: 20px 0px;
    font-size: 26px;
    font-weight: 500;
    color: #646464;
    border-bottom: none;
}

#mypage .join_table .item_box input[readonly=readonly] {
    color: #888888;
}

#mypage .join_table .td_email input[readonly=readonly] {
    height: 69px;
    margin: 20px 0px;
    font-size: 26px;
    font-weight: 500;
    color: #646464;
    border-bottom: none;
    width: 205px !important;
    overflow: hidden !important;
    padding: 0 3% !important;
    border-style: solid !important;
    border-width: 0 0 2px 0 !important;
    border-color: #F0F0F0 !important;
}

#mypage .join_table .id_check, .pw_check {
    display: inline-block;
    padding: 15px 30px 0px;
    color: #4677DE;
    font-size: 24px !important;
}

#mypage .join_table .td_email input[readonly=readonly] {
    display: inline-block;
    width: 39% !important;
    overflow: hidden !important;
    padding: 15px 4% 0px !important;
    border-bottom: 1px solid rgba(177, 177, 177, 0.5);
    color: #888888;
}

#mypage .join_table .wrap_btn .submit_box {
    display: block;
    margin: 35px 0px 20px;
    padding: 15px 0px;
    background-color: #fee500;
    text-align: center;
    font-size: 18px;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
}

/* join */
#join {
    padding: 95px 54px;
}

#join #editMypage {
    padding: 0px 54px 80px;
}

#join .profile {
    padding: 60px 0px 30px;
    text-align: center;
}

#join .profile .image {
    width: 210px;
    height: 210px;
    display: inline-block;
    overflow: hidden;
    border-radius: 100px;
}

#join .profile .image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#join .profile input[type=file] {
    display: none;
}

#join .profile label {
    display: block;
}

#join .profile .tit {
    display: block;
    margin-top: 26px;
    font-size: 26px;
    font-weight: 700;
    color: #787878;
}

#join .profile .info {
    display: block;
    margin-top: 18px;
    font-size: 16px;
    font-weight: 700;
    color: #787878;
}

#join .join_table {
    width: 100%;
    margin: 0px 0px 50px;
    padding: 0;
    font-size: 20px;
}

#join .join_table .item_th {
    padding: 15px 0px;
    width: 100px;
}

#join .join_table .item_th span {
    display: inline-block;
    margin-top: 20px;
    font-size: 26px;
    color: #646464;
    font-weight: 700;
}

#join .join_table .item_box div {
    width: 100%;
    height: 70px;
    margin-left: 10px;
    line-height: 47px;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: #F0F0F0;

}

#join .join_table .item_box input[type=text] {
    display: block;
    overflow: hidden;
    width: 90%;
    height: 69px;
    padding: 0 3%;
    margin: 20px 0px;
    font-size: 26px;
    font-weight: 500;
    color: #646464;
    border-bottom: none;
}

#join .join_table .item_box input[type=password] {
    display: block;
    overflow: hidden;
    width: 90%;
    height: 69px;
    padding: 0 3%;
    margin: 20px 0px;
    font-size: 26px;
    font-weight: 500;
    color: #646464;
    border-bottom: none;
}

#join .join_table .id_check, .pw_check {
    display: inline-block;
    padding: 15px 30px 0px;
    color: #4677DE;
    font-size: 24px !important;
}

#join .join_table .btn_sendemail {
    float: right;
    padding: 10px 20px;
    border: 1px solid #507FE2;
    border-radius: 6px;
    margin-top: 9px;
}

#join .join_table .btn_sendemail span {
    font-size: 18px;
    font-weight: 700;
    color: #507FE2;
}

#join .join_table .btn_sendemail2 {
    position: absolute;
    top: 30px;
    right: 0px;
    padding: 10px 20px;
    border: 1px solid #507FE2;
    border-radius: 6px;
}

#join .join_table .btn_sendemail2 span {
    font-size: 18px;
    font-weight: 700;
    color: #507FE2;
}

#join .join_table .td_email input[type=text] {
    height: 69px;
    margin: 20px 0px 0px;
    font-size: 26px;
    font-weight: 500;
    color: #646464;
    display: inline-block;
    width: 39% !important;
    overflow: hidden !important;
    padding: 15px 4% 0px !important;
    border-bottom: 1px solid rgba(177, 177, 177, 0.5);
    color: #646464;
}

#join .join_table .wrap_btn .submit_box {
    display: block;
    margin: 35px 0px 20px;
    padding: 15px 0px;
    background-color: #fee500;
    text-align: center;
    font-size: 18px;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
}

/* findUserid */
#findUserid {
    padding: 95px 54px;
}

#findUserid .join_table {
    width: 100%;
    margin: 0px 0px 50px;
    padding: 0;
    font-size: 20px;
}

#findUserid .join_table .item_th {
    padding: 15px 0px;
    width: 100px;
}

#findUserid .join_table .item_th span {
    display: inline-block;
    margin-top: 24px;
    font-size: 26px;
    color: #646464;
    font-weight: 700;
}

#findUserid .join_table .item_box div {
    width: 100%;
    height: 70px;
    margin-left: 10px;
    line-height: 47px;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: #F0F0F0;

}

#findUserid .join_table .item_box input[type=text] {
    display: block;
    overflow: hidden;
    width: 90%;
    height: 69px;
    padding: 0 3%;
    margin: 40px 0px;
    font-size: 26px;
    font-weight: 500;
    color: #646464;
    border-bottom: none;
}

#findUserid .join_table .infoname, .infoemail {
    display: inline-block;
    padding: 15px 30px 0px;
    color: #4677DE;
    font-size: 24px !important;
}

#findUserid .join_table .td_email input[type=text] {
    height: 69px;
    margin: 0px;
    font-size: 26px;
    font-weight: 500;
    color: #646464;
    display: inline-block;
    width: 39% !important;
    overflow: hidden !important;
    padding: 15px 4% 0px !important;
    border-bottom: 1px solid rgba(177, 177, 177, 0.5);
    color: #646464;
}

#findUserid .join_table .wrap_btn .submit_box {
    display: block;
    margin: 35px 0px 20px;
    padding: 15px 0px;
    background-color: #fee500;
    text-align: center;
    font-size: 18px;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
}

#findUserid .result {
    display: block;
    font-size: 24px;
    color: #E74133;
    text-align: right;
    padding-top: 30px;
}


/* findPasswd */
#findPasswd {
    padding: 95px 54px;
}

#findPasswd .join_table {
    width: 100%;
    margin: 0px 0px 50px;
    padding: 0;
    font-size: 20px;
}

#findPasswd .join_table .item_th {
    padding: 15px 0px;
    width: 100px;
}

#findPasswd .join_table .item_th span {
    display: inline-block;
    margin-top: 35px;
    font-size: 26px;
    color: #646464;
    font-weight: 700;
}

#findPasswd .join_table .item_box div {
    width: 100%;
    height: 70px;
    margin-left: 10px;
    line-height: 47px;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: #F0F0F0;

}

#findPasswd .join_table .item_box input[type=text] {
    display: block;
    overflow: hidden;
    width: 90%;
    height: 69px;
    padding: 0 3%;
    margin: 40px 0px;
    font-size: 26px;
    font-weight: 500;
    color: #646464;
    border-bottom: none;
}

#findPasswd .join_table .item_box input[type=email] {
    display: block;
    overflow: hidden;
    width: 90%;
    height: 69px;
    padding: 0 3%;
    margin: 40px 0px;
    font-size: 26px;
    font-weight: 500;
    color: #646464;
    border-bottom: none;
}

#findPasswd .join_table .td_email input[type=text] {
    height: 69px;
    margin: 20px 0px 0px;
    font-size: 26px;
    font-weight: 500;
    color: #646464;
    display: inline-block;
    width: 39% !important;
    overflow: hidden !important;
    padding: 15px 4% 0px !important;
    border-bottom: 1px solid rgba(177, 177, 177, 0.5);
    color: #646464;
}

#findPasswd .join_table .wrap_btn .submit_box {
    display: block;
    margin: 35px 0px 20px;
    padding: 15px 0px;
    background-color: #fee500;
    text-align: center;
    font-size: 18px;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
}

#findPasswd .result {
    display: block;
    font-size: 24px;
    color: #E74133;
    text-align: right;
    padding-top: 30px;
}

/* faqList */
#fList {
    padding: 95px 45px;
}

#fList .sch {
    width: 100%;
}

#fList .sch_wrap {
    position: relative;
    width: 100%;
    margin: 35px auto;
    background-color: #FFFFFF;
    border: 1px solid rgba(125, 125, 125, 0.5);
}

#fList .sch_wrap .sch_input_wrap {
    padding: 0 85px 0 30px;
}

#fList .sch_input {
    position: relative;
    width: 100%;
    padding: 20px 0;
    font-size: 24px;
    font-weight: 500;
    color: #1e1e23;
    border: 0;
    outline: transparent;
    background: 0 0;
    text-overflow: ellipsis;
}

#fList .sch_wrap .sch_ico_rt {
    position: absolute;
    top: 10px;
    right: 20px;
    /*background: url("/static/images/ico_search_02.png");*/
}

#fList .wrap_table {
    width: 100%;
    border-top: 6px solid #4677DE;
}

#fList .wrap_table table {
    width: 100%;
}

#fList .wrap_table table thead {
    width: 100%;
    height: 60px;
    background: #FCFCFC;
    font-weight: 700;
    font-size: 24px;
    color: #4E4E4E;
    text-align: center;
}

#fList table thead td {
    border-bottom: 1px solid #D2D2D2;
}

#fList table tbody {
    width: 100%;
    font-weight: 500;
    font-size: 24px;
    color: #333333;
    text-align: center;
}

#fList table tbody tr {
    width: 100%;
}

#fList table tbody .btn_flipFAQ {
    display: none;
}

#fList table tbody td {
    padding: 15px 0px;
    border-bottom: 1px solid #D2D2D2;
}

#fList table tbody .openFAQ {

}

#fList table tbody .content {
    background-color: #FAFAFA;
    padding: 50px 40px 25px;
    text-align: left;
    white-space: pre-line;
}

#fList table tbody .content .open_title {
    padding-bottom: 30px;
}

#fList table tbody .content .open_title span {
    font-size: 24px;
    font-weight: 900;
    color: #4677DE;
}

#fList table tbody .content .open_content {
    padding-bottom: 20px;
}

#fList table tbody .content .open_content span {
    line-height: 35px;
    font-size: 24px;
    font-weight: 700;
    color: #333333;
}

#fList table tbody .content .open_writeday {
    text-align: right;
}

#fList table tbody .content .open_writeday span {
    font-size: 20px;
    font-weight: 500;
    color: #888888;
}

#fList table #faqList .title {
    text-align: left;
}



/* inquiryList */
#inquiryList {
    padding: 95px 45px;
}

#inquiryList .sch {
    width: 100%;
}

#inquiryList .sch_wrap {
    position: relative;
    width: 100%;
    margin: 35px auto;
    background-color: #FFFFFF;
    border: 1px solid rgba(125, 125, 125, 0.5);
}

#inquiryList .sch_wrap .sch_input_wrap {
    padding: 0 85px 0 30px;
}

#inquiryList .sch_input {
    position: relative;
    width: 100%;
    padding: 20px 0;
    font-size: 24px;
    font-weight: 500;
    color: #1e1e23;
    border: 0;
    outline: transparent;
    background: 0 0;
    text-overflow: ellipsis;
}

#inquiryList .sch_wrap .sch_ico_rt {
    position: absolute;
    top: 10px;
    right: 20px;
}

#inquiryList .wrap_table {
    width: 100%;
    border-top: 6px solid #4677DE;
}

#inquiryList .wrap_table table {
    width: 100%;
}

#inquiryList .wrap_table table thead {
    width: 100%;
    height: 60px;
    background: #FCFCFC;
    font-weight: 700;
    font-size: 24px;
    color: #4E4E4E;
    text-align: center;
}

#inquiryList table thead td {
    border-bottom: 1px solid #D2D2D2;
}

#inquiryList table tbody {
    width: 100%;
    font-weight: 500;
    font-size: 24px;
    color: #333333;
    text-align: center;
}

#inquiryList table tbody tr {
    width: 100%;
}

#inquiryList table tbody span {
    color: #333333;
}

#inquiryList table tbody .btn_flipFAQ {
    display: none;
}

#inquiryList table tbody td {
    padding: 15px 0px;
    border-bottom: 1px solid #D2D2D2;
}

/*

.inquiryList {
    display: inline-block;
    margin-left: 10px;
    padding: 2px 5px;
    border-radius: 7px;
    color: #fff;
    vertical-align: middle;
    font-weight: bold;
    font-size: 12px; !* 배지 폰트 크기 *!
    background-color: #f00; !* 배지 색상 *!
}
*/

/* inquiryRetrieve */
#inquiryRetrieve {
    padding: 95px 50px;
}

#inquiryRetrieve .title {
    margin-top: 20px;
    padding: 20px 10px;
    border-bottom: 2px solid #B1B1B1;
}

#inquiryRetrieve .info {
    padding: 10px;
}

#inquiryRetrieve .info span {
    font-size: 20px;
    color: #A1A1A1;
    letter-spacing: -0.4px;
}

#inquiryRetrieve .info a span {
    text-decoration: underline;
}

#inquiryRetrieve .info a {
    float: right;
    display: block;
}

#inquiryRetrieve .title span {
    font-weight: 700;
    font-size: 30px;
    color: #333333;
}

#inquiryRetrieve .content {
    padding: 50px 10px;
}

#inquiryRetrieve .content span {
    font-size: 24px;
    color: #333333;
}

#inquiryRetrieve .blueLine {
    border-radius: 5px;
    height: 6px;
    background-color: #4677DE;
    margin: 0px 0px 20px;
}

#inquiryRetrieve .commentBox {
}

#inquiryRetrieve .whitegrayLine {
    border-radius: 5px;
    height: 2px;
    background-color: #D2D2D2;
    margin: 20px 0px;
}

#inquiryRetrieve .grayLine {
    border-radius: 5px;
    height: 2px;
    background-color: #717274;
    margin: 20px 0px;
}

#inquiryRetrieve .commentOne {
    padding: 0px 15px;
}

#inquiryRetrieve .commentOne .top span:nth-child(1) {
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    color: #333333;
}

#inquiryRetrieve .commentOne .top span:nth-child(2) {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    color: #A1A1A1;
    padding-left: 10px;
}

#inquiryRetrieve .commentOne .top a {
    float: right;
}

#inquiryRetrieve .commentContent {
    margin: 15px 0px;
}

#inquiryRetrieve .commentContent span {
    line-height: 30px;
    color: #333333;
    font-size: 22px;
}

#inquiryRetrieve .show-re-comment {
    display: inline-block;
    padding: 10px 0px;
}

#inquiryRetrieve .show-re-comment span {
    text-decoration: underline;
    font-size: 20px;
    font-weight: 500;
    color: #4677DE;
}

#inquiryRetrieve .imgPreview {
    padding: 14px 0px;
}

#inquiryRetrieve .imgPreview li {
    width: 19.5%;
    position: relative;
    text-align: center;
}

#inquiryRetrieve .imgPreview li div {
    display: inline-block;
    width: 120px;
    height: 120px;
    overflow: hidden;
}

#inquiryRetrieve .imgPreview li div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#inquiryRetrieve .deletePost {
    display: block;
    text-align: right;
    color: #FA9E9E;
    font-size: 20px;
    padding: 10px;
}

#inquiryRetrieve .deletePost span {
    text-decoration: underline;
}


#inquiryRetrieve .writeComment textarea {
    display: block;
    border: 1px solid #717274;
    resize: vertical;
    outline: none;
    padding: 20px;
    width: 94%;
    font-size: 17px;
    height: 90px;
    margin-bottom: 15px;
}

#inquiryRetrieve .writeComment a {
    float: right;
    padding: 10px 16px;
    background-color: #717274;
    border-radius: 5px;
}

#inquiryRetrieve .writeComment a span {
    display: inline-block;
    color: #ffffff;
}


/* inquiryWrite */
#inquiryWrite {
    padding: 120px 50px;
}

#inquiryWrite .title {
    padding: 25px 20px;
    border-bottom: 1px solid #B1B1B1;
}

#inquiryWrite .title input[type=text] {
    width: 600px;
    font-size: 30px;
    color: #333333;
}

#inquiryWrite .content {
    margin-top: 18px;
}

#inquiryWrite .content textarea {
    display: block;
    width: 90%;
    height: 404px;
    resize: none;
    border: none;
    background-color: #FAFAFA;
    padding: 35px;
    font-size: 24px;
    color: #333333;
    line-height: 35px;
}

#inquiryWrite .uploadImage {
    display: block;
    padding: 20px;
    position: relative;
}

#inquiryWrite .uploadImage img {
    float: left;
}

#inquiryWrite .uploadImage span {
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    color: #888888;
    top: 0px;
}

#inquiryWrite .imgPreview {
    border-top: 2px solid #717274;
    padding: 14px 0px;
}

#inquiryWrite .imgPreview li {
    width: 19.5%;
    position: relative;
    text-align: center;
}

#inquiryWrite .imgPreview li a {
    position: absolute;
    top: -10px;
    right: -5px;
}

#inquiryWrite .imgPreview li div {
    display: inline-block;
    width: 120px;
    height: 120px;
    overflow: hidden;
}

#inquiryWrite .imgPreview li div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* common */
.btn_login {
    display: block;
    width: 98%;
    border: 1px solid #4677DE;
    text-align: center;
    padding: 34px 0px;
    margin: auto;
    border-radius: 2px;
}

.btn_login span {
    font-size: 32px;
    color: #4677DE;
    font-weight: 700;
}

.btn-member-delete {
    display: inline-block;
    position: absolute;
    margin: -4px 0px 0px 4px;
}


.btn-delete-pay, .btn-delete-account {
    display: inline-block;
    text-decoration: underline;
    font-size: 15px;
    text-align: center;
    border-radius: 0px;
    color: #E74133;
    margin: 0px 7px 0px 7px;
}

.btn-delete-account {
    font-size: 18px;
}

.btn-update-pay, .btn-update-account {
    display: inline-block;
    text-decoration: underline;
    font-size: 15px;
    text-align: center;
    border-radius: 0px;
    color: #414142;
    margin: 0px 7px 0px 7px;
}

.btn-update-account {
    font-size: 18px;
}

.btn-updated-account {
    display: inline-block;
    text-decoration: underline;
    font-size: 18px;
    text-align: center;
    border-radius: 0px;
    color: #4677DE;
    margin: 0px 7px 0px 7px;
}

/* noticeRetrieve */
#noticeRetrieve {
    padding: 95px 50px;
}

#noticeRetrieve .title {
    margin-top: 20px;
    padding: 20px 10px;
    border-bottom: 2px solid #B1B1B1;
}

#noticeRetrieve .info {
    text-align: right;
    padding: 10px;
}

#noticeRetrieve .info span {
    font-size: 20px;
    color: #A1A1A1;
    letter-spacing: -0.4px;
}


#noticeRetrieve .title span {
    font-weight: 700;
    font-size: 30px;
    color: #333333;
}

#noticeRetrieve .content {
    padding: 50px 10px;
    white-space: pre-line;
}

#noticeRetrieve .content span {
    line-height: 40px;
    font-size: 24px;
    color: #333333;
}

#noticeRetrieve .blueLine {
    border-radius: 5px;
    height: 6px;
    background-color: #4677DE;
    margin: 0px 0px 20px;
}


#noticeRetrieve .imgPreview {
    padding: 14px 0px;
}

#noticeRetrieve .imgPreview li {
    width: 19.5%;
    position: relative;
    text-align: center;
}

#noticeRetrieve .imgPreview li div {
    display: inline-block;
    width: 120px;
    height: 120px;
    overflow: hidden;
}

#noticeRetrieve .imgPreview li div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

